<h1> Hi, you are probably looking for the <a href="https://dressagetests.netlify.app/"> Main App here </a> </h1>

<h2> This is the backend app reserved for admin functions. You currently are not an admin. </h2>


<p> If you were asked to be an admin please contact Jen to add admin permissions for your account. </p>

<p> If you want to be an admin please explain to Jen who you are and assure her that you are not going to screw up or hack the data. </p>

<p> Note: Auth service is provided by Auth0 </p>