<h2> About </h2>
<p>Dressage tests in an easy to find and read format</p>

<p> Don't get caught figuring out which test you're supposed to do on the day of the show (or even if on the day of the show) - 
have your tests ready to view on any internet accessible device! </p>

<p> We currently do not have a mobile app or offline features but if you download page in your mobile browser you should be able to access it offline </p>

<p> We camnnot be responsible for any errors or just general barking up the wrong test. Always check with your coach/show organizer on the correct test </p>

<p> Currently being updated to USEF 2019 tests</p>



