

		  <a href="#" class="btn btn-info btn-lg cta-open">View Arena</a>
		
	  </div>
  </div>
</div>


<section class="toggle-form">
  <div class="formwrap px-4">
    <div class="icon-close pos-a"><img src="https://www.solodev.com/_/images/cross.png" alt="Close Button"></div>
    <p class="text-white mt-4 h3">Arena Diagram</p>
    <p> Wait, where are these letters?</p>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="large-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Standard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="small-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Small</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"> 
  <h4 class="text-white mt-2">20m x 60m Large Arena </h4> 
    <img class="arena2"  src="https://localriding.com/image-files/dressage-arena-lg.jpg" />
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab"> Small </div>
</div>
      
  </div>
<div class="toggle-bg"></div>