<h1> Welcome to mobile friendly dressage tests! </h1>
<p> Don't get caught figuring out which test you're supposed to do on the day of the show (or even if on the day of the show) - have your tests ready to view on any internet accessible device! </p>

<p> Always check with your coach/show organizer on the correct test </p>

V1
<ul>
  <li> Mobile friendly USEF/EC tests from walk/trot to 4th level</li>
  <li> Warnings on multiple versions of tests </li>
  <li> Responive large and small dressage rings as overlay option </li>
  <li> Possibly draw on dressage ring? </li>
  <li> Auto complete search and filter </li>
</ul>

V1.5
<ul>
</ul>

V2
<ul>
  <li> Offline app with Cardova or React Native</li>
  <li> Public API </li>
  <li> Add circles/auto complete to drawing on dressage ring, tap control </li>
</ul>
