<h2> Road map </h2>

<p> Currently moving the front-end to the SPA and switching the Rails app to admin functions only.</p>

Next release
<ul>
  <li> Mobile friendly USEF/EC tests from walk/trot to 4th level</li>
  <li> Warnings on multiple versions of tests </li>
  <li> Responive large and small dressage rings as overlay option </li>
  <li> Possibly draw on dressage ring? </li>
  <li> Auto complete search and filter </li>
</ul>

Additional content update
<ul>
  <li> Add FEI levels </li>
  <li> Add Western dressage tests </li>
  <li> Add Eventing </li>
  <li> Add UK, AU, NZ tests </li>
</ul>

Extended plans
<ul>
  <li> Offline PWA with React Web</li>
  <li> Offline app with Cardova or React Native</li>
  <li> Public API </li>
  <li> Phaser drawing Arena app </li>
  <li> Add circles/auto complete to drawing on dressage ring, tap control </li>
</ul>