<div class="nested-fields">

<div class="row">
<div class="col">
  <%= f.input :url %>
</div>
<div class="col">
  <%= f.input :linkname %>
</div>
</div>
 <div style="text-align:right">
    <%= link_to_remove_association "remove link", f %>
  </div>
</div>
