<div class="nested-fields">

  <div class="row">
    <%
=begin%>
    <div class="col-1">
      <%= f.input :num, class: "disabled" %>
    </div>
    <%
=end%>
    <div class="col-3">
      <%= f.input :letter %>
    </div>
    <div class="col-8">
      <%= f.input :move %>
    </div>
  </div>
  <div style="text-align:right">
    <%= link_to_remove_association "remove move", f %>
  </div>
</div>