<div class="container">

  <%= link_to "New", new_dressage_test_path, class: "btn btn-primary" %>


  <%= render(
  partial: 'dressage_tests/list',
  locals: { dressage_tests: @dressage_tests }
) %>
</div>