<%= @dressage_test.year %> <%= @dressage_test.org_name %> <%= @dressage_test.name %>

<p> Dressaage tests details </p>

<p> movmeents </p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Letter</th>
      <th scope="col">Movement</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td>X</td>
    </tr>
    <tr>
      <td>Enter</td>
      <td>Halt</td>
    </tr>
  </tbody>
</table>
