/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2-bootstrap
 *= require jquery-ui
 *= require jquery-ui/autocomplete
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'select2';

@media (max-width: 992px) {
  #overlay {
    background: white;
   }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    padding-top: 60px;
}


@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

img.arena {
  height: 80%;
}

img.arena2 {
  width: 240px;
  max-height: 800px;
}
#content{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: blue;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#content img {
  width: 300px;
}

.letter {
  font-size: 20px;
  font-weight: bold;
  border: solid #000 1px;
  padding: 5px 10px;
  display:inline-block;
}

.letter-col {
  text-align:right;
}

body.dressage_tests.index {
  background-image: image-url('dressage_arena_stock_11_by_luda_stock-d3llrkh.jpg');
}

.test-list {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  color: #fff;
  font-size: 20px;
}

 .test-list ul li a, .test-list li {
  color: #fff;
  list-style-type: none;
  margin-left: -15px;
}

.filter-form {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

.btn{
  cursor: pointer;
}
.icon-close {
  right: 2rem;
  top: 1.8rem;
  transition: right .6s ease-in-out;
  cursor: pointer;
}

.icon-close img {
  width: 20px;
}

a,
label,
p {
  color: #fff;;
}
label {
  font-weight: 600;
}
.has-error .help-block {
  color: $white; 
  text-align: center;
}

.toggle-form {
  right: -9999px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: right .6s ease-in-out;
}
.toggle-form.active {
    right: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: .9rem;
    line-height: 1.25;
    //color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 1.5rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.formwrap {
  background-color: #1aafff; 
  height: 100%;
  width: 400px;
  float: right;
  box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.1);
}
.formwrap form input, .formwrap form input:focus {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    margin-right: 10px;
}


.form-control {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
        margin-right: 10px;
 }

@media (max-width: 575px) {
  .formwrap{
    width: 100%
  }
}