/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2-bootstrap
 *= require jquery-ui
 *= require jquery-ui/autocomplete
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'select2';

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(255, 255, 255, 0.2);
    z-index: 2;
    cursor: pointer;
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: blue;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#content img {
  width: 300px;
}

.letter {
  font-size: 20px;
  font-weight: bold;
  border: solid #000 1px;
  padding: 5px 10px;
  display:inline-block;
}

body.dressage_tests.index {
  background-image: image-url('dressage_arena_stock_11_by_luda_stock-d3llrkh.jpg');
}

.test-list, .test-list a {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  color: #fff;
}

 .test-list ul li a {
  color: #fff;
  list-style-type: none;
}
